<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flask Image Upload</title>
</head>
<body>
    <h1>Upload an Image</h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    {% if success %}
        <p style="color: green;">{{ success }}</p>
    {% endif %}
    <form method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png, .jpg, .jpeg">
        <input type="submit" value="Upload">
    </form>
</body>
</html>
